.image-embed[alt] {
  padding: var(--size-4-1) 0;
  }
  .image-embed[alt]::after {
    display: block;
    text-align: center;
  }
  .image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"], [alt$=".webp"], [alt$=".bmp"])::after {
    content: attr(alt);
    font-size: 80%;
    color: #778899;
  }